<mat-toolbar>
  <mat-toolbar-row>
    <span>Notes</span>
    <span class="example-spacer"></span>
    <!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
    <!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->
    <!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example note icon">note</mat-icon>-->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="background: transparent;color: white;border: none">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>

    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
