<div class="container-fluid p-0">
 <app-nav-bar></app-nav-bar>
  <div class="container  mt-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlInput1">Title</label>
              <input  class="form-control" id="exampleFormControlInput1" [(ngModel)]="title" placeholder="Title" type="text"  [ngModelOptions]="{standalone: true}">
            </div>

          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Note</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="note" placeholder="Ex. It makes me feel..." [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
          <div class="col-12">
            <button mat-raised-button  color="primary"  (click)="addNotes()">Add </button>
          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 mt-3 text-center">
        <ul class="list-group">
          <li class="list-group-item list-header">My Notes:</li>
          <li class="list-group-item" style="cursor: pointer" *ngFor="let note_ of userNotes | async" (click)="selectNote(note_)">{{(note_.title)? note_.title : '-'}}</li>

        </ul>
      </div>
    </div>
  </div>

</div>

